$site-footer-background-color: rgba(0, 0, 0, 0.02);
$site-footer-border-color: rgba(0, 0, 0, 0.1);

.nav-item img {
  max-height: 20px;
}

.nav-item.is-brand img {
  max-height: 36px;
}

.is-direction {
  margin-left: -10px;
}

.is-sub-brand {
  margin-left: -8px;
  img {
    padding-top: 2px;
    max-height: 20px;
  }
}

.site-nav {
  .nav {
    padding: 0 1vw;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.container {
  section {
    padding: 0 4vw;
    margin: 0 auto;
    max-width: 800px;
  }

  .posts {
    margin: 7rem 0;
    section {
      margin-bottom: 8vh;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }
    p {
      font-size: 1.18rem;
    }
  }
}

.pagination {
  font-size: 1.22rem;
  margin-top: -5vh;
}

.site-footer {
  min-height: 120px;
  background: $site-footer-background-color;
  margin-top: 4rem;
  border-top: solid 1px $site-footer-border-color;
  padding: 2rem 4vw;
  p {
    font-size: 1.1rem;
    margin: 0;
  }
}
