<section class="site-nav">
    <header>
        <nav class="nav">
            <div class="nav-left">
                <a class="nav-item is-brand" href="http://websiddu.com"><img src="/images/logo.svg"></a>
                <span class="nav-item is-direction">&rarr;</span>
                <a href="/" class="nav-item is-sub-brand is-tab"> <img src="/images/blog.svg"></a>
            </div>


            <span class="nav-toggle">
                <span></span>
            <span></span>
            <span></span>
            </span>

            <div class="nav-right nav-menu">
                {% include _nav.html istab='is-tab'%}
            </div>
        </nav>
    </header>
</section>
